* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-wrapper {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  height: 100vh;
  /* width: 100vw; */
  /* flex-wrap: wrap; */
}

.flex-box {
  /* width: 200px; */
  flex-basis: 200px;
  height: 200px;
  background-color: red;
  color: white;
  border: 1px solid black;
}
.flex-box:nth-child(2) {
  /* flex-shrink: 0; */
  /* flex-grow: 2; */
}

.grid-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 200px);
  /* grid-template-columns: [line1] 200px [line2] 200px [line3] 200px [line4] 200px [line5]; */
  grid-template-rows: repeat(4, 200px);
  /* grid-template-rows: repeat(4, 200px [rowLine]); */
  /* grid-template-areas:
    "a a a a"
    "b b b c"
    "b b b c"
    "d d d d"; */
  justify-items: center;
  align-items: end;
  justify-content: space-between;
  align-content: space-evenly;
}

.grid-box {
  /* width: 200px;
  height: 200px; */
  background-color: red;
  color: white;
  border: 1px solid black;
}

header {
  background-color: pink;
  /* grid-area: a; */
  /* grid-column: 1 / -1; */
  grid-column: span 4;
}
article {
  background-color: seagreen;
  /* grid-area: b; */
  grid-column: 1 / -2;
  /* grid-row: 2 / -2; */

  /* grid-column: span 3; */
  grid-row: 2 / span 2;
}
nav {
  background-color: purple;
  /* grid-area: c; */
  grid-row: 2 / -1;
  /* grid-row: span 3; */
}
footer {
  background-color: sandybrown;
  /* grid-area: d; */
  /* grid-column: 1 / -2; */
  grid-column: span 3;
}
