@import "_variables";

body {
  height: 100vh;
  background-color: $_10x19_bg;
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  grid-template-rows: repeat(7, minmax(100px, 1fr));
  gap: 1px;
  & > * {
    color: $_10x19_bg;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.number__row,
.center-image {
  grid-row-end: span 5;
}

.number__row {
  background-color: $_10x19_bg;
  display: flex;
  flex-direction: column-reverse;
  gap: 1px;
  &:nth-child(even) {
    order: 1;
  }

  .number {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      color: white;
      background-color: $_10x19_bg;
    }
  }
}

.center-image {
  grid-column-start: 2;
  padding: 10px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.center-image ~ * {
  order: 2;
}

.scrolling__text {
  white-space: nowrap;
  overflow: hidden;
  span {
    animation: scrollText 15s linear infinite;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
