$bg: #e7473c;
$title: 32px;

$horror_white: #f0eff0;
$horror_red: #e7474c;
$horror_fixedWidth: 33%;

$paint_header_height: 4.5rem;
$paint_sideSpace: 8.8rem;
$paint_bg: #f3ede8;

$_10x19_bg: #af7732;

$zoo_bg: gainsboro;
$zoo_header_height: 3.1rem;
$zoo_header_padding: 1rem;

$schwartz_fontMedium: 2rem;
$schwartz_border: 1px solid rgba(0, 0, 0, 0.1);

$tolv_header_height: 3.8rem;
$tolv_orange: #ff6429;

$rodic_header_height: 3.5rem;
$rodic_color: #2e8540;

$beige_header_height: 2.5rem;
$beige_header_fontSize: 1.3rem;
$beige_color1: rgb(226, 211, 183);
$beige_color2: rgb(186, 121, 87);
$beige_color3: rgb(170, 198, 185);
$beige_color4: rgb(201, 131, 71);
$beige_color5: rgb(112, 152, 157);
$beige_color6: rgb(211, 167, 69);
$beige_color7: rgb(174, 170, 118);

$donica_red: #fc3f33;
$donica_black: #444;

$canal_sideWidth: 11.25rem;
$canal_padding: 3.5rem;
$canal_gap: 3.5rem;
