$bg: #e7473c;
$title: 32px;

$horror_white: #f0eff0;
$horror_red: #e7474c;
$horror_fixedWidth: 33%;

$paint_sideSpace: 140px;
$paint_bg: #f3ede8;

$_10x19_bg: #af7732;

$zoo_bg: gainsboro;
$zoo_header_height: 50px;
$zoo_header_padding: 15px;

$schwartz_fontMedium: 30px;
$schwartz_border: 1px solid rgba(0, 0, 0, 0.1);

$tolv_header_height: 60px;
$tolv_orange: #ff6429;

$rodic_header_height: 55px;
$rodic_color: #2e8540;

$canal_sideWidth: 180px;
$canal_padding: 60px;
$canal_gap: 60px;
