@import "_variables";
@import "_elements";
@import url("https://fonts.googleapis.com/css?family=Nunito|PT+Serif:400,400i&display=swap");

body {
  font-family: "PT Serif", serif;
  color: $donica_black;
  background-color: #f0efeb;
  padding: 2.5rem;
}

header {
  h1 {
    font-size: 2.7rem;
    letter-spacing: 1px;
    margin-bottom: 12rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.works {
  .works__header,
  .works__work {
    display: grid;
    grid-template-columns: 1.2fr 4.2fr 7fr;
    align-items: center;
    padding-bottom: 0.9rem;
  }

  .works__header {
    span {
      @extend %tinyText;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    // gap: 10px;

    li {
      border-top: 1px solid $donica_black;
      padding-top: 1.5rem;
      font-size: 1.6rem;
      cursor: pointer;
      &:hover {
        font-style: italic;
      }
    }
  }
}

.education,
.about {
  font-size: 2rem;
  line-height: 1.5;

  span {
    @extend %tinyText;
    margin-right: 0.8rem;
  }

  a {
    color: inherit;
    &:hover {
      font-style: italic;
    }
  }
}

.notes {
  @extend %tinyText;
  color: inherit;
  margin-top: -1.2rem;
  margin-bottom: 1.2rem;
}
