@import "_variables";

body {
  height: 100vh;
  background-color: $horror_white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $horror_white;
  width: $horror_fixedWidth;
  height: 100%;
  padding: 10vh 0 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 13rem;
  color: $horror_red;

  h1 {
    font-size: 4.5rem;
    width: 50%;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
  }

  h3 {
    font-size: 1.6rem;
    // font-weight: 300;
    margin-bottom: 2rem;
  }

  h3,
  p,
  nav {
    width: 70%;
  }

  h3,
  p {
    line-height: 1.2;
  }

  p {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      li {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        color: black;
        opacity: 0.5;
        margin-bottom: -0.5rem;
        padding-bottom: 0.4rem;
        border-bottom: 1px solid black;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

main {
  background-color: $horror_red;
  margin-left: $horror_fixedWidth;

  .movie {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $horror_white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 2%, transparent, transparent, transparent, transparent)
      $horror_red;

    .movie__wrapper {
      width: 80%;
      display: flex;
      flex-direction: column;

      .movie__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.6rem;

        h4 {
          font-size: 2rem;
        }
        h5 {
          letter-spacing: 0.3rem;
        }
      }
      img {
        width: 100%;
        box-shadow: 0 5rem 5rem -5rem #2d0806;
      }
    }
  }
}
