@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@1&display=swap");

body {
  font-family: "B612 Mono";
  padding: 45px;
}

header {
  width: 100%;
  // position: fixed;
  // top: 0;
  margin-bottom: 100px;

  nav {
    ul {
      @include gridBorder();
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 60px);
      // padding: 1px;

      li {
        @include gridBorderChild();
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
          grid-column: span 2;
          font-size: 36px;
          text-transform: uppercase;
        }
      }
    }
  }
}

main {
  h1,
  h6 {
    text-align: center;
  }
  h1 {
    font-size: 60px;
    font-family: "DM Serif Display", monospace;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 12px;
    margin-bottom: 50px;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 70vh;
  margin-bottom: 150px;

  .hero__img {
    width: 100%;
  }
}

.arrivals {
  .arrivals__title {
    font-size: 36px;
    font-family: "DM Serif Display", monospace;
    margin-bottom: 70px;
    text-align: center;
  }

  .product__wrapper {
    @include gridBorder();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80vh auto;

    .product,
    .arrivals__category {
      @include gridBorderChild();
    }

    .product {
      display: grid;
      grid-template-rows: 80% auto;
      gap: 20px;
      padding: 30px;

      .product__photo {
        width: 100%;
        height: 100%;
      }
      .product__data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
      }
    }

    .arrivals__category {
      grid-column: span 2;
      text-align: center;
      padding: 20px 0;
      font-size: 20px;
    }
  }
}

footer {
  height: 200px;
  margin: 100px 0;
  @include gridBorder();
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5fr 1fr;

  & > div {
    @include gridBorderChild();
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    &:first-child {
      grid-column: span 2;
    }
  }

  .footer__bottom {
    grid-column: 1 / -1;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 15px;
    }
    & > * {
      width: 33%;
      text-align: center;
    }
  }

  .footer__title {
    font-size: 20px;
    font-family: "DM Serif Display", monospace;
  }

  .footer__signup {
    height: 40px;
    @include gridBorder();
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    place-items: center center;

    & > * {
      @include gridBorderChild();
      padding: 10px;
    }
    input {
      border: none;
    }
    span {
      text-align: center;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .footer__items {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
  }

  .footer__item {
    font-size: 10px;
  }
}
