@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@1&display=swap");

body {
  font-family: "B612 Mono";
  padding: 2.8rem;
}

header {
  width: 100%;
  margin-bottom: 6.2rem;

  nav {
    ul {
      @include gridBorder();
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 3.8rem);
      // padding: 1px;

      li {
        @include gridBorderChild();
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
          grid-column: span 2;
          font-size: 2.3rem;
          text-transform: uppercase;
        }
      }
    }
  }
}

main {
  h1,
  h6 {
    text-align: center;
  }
  h1 {
    font-size: 3.75rem;
    font-family: "DM Serif Display", monospace;
    margin-bottom: 1.2rem;
  }
  h6 {
    font-size: 0.75rem;
    margin-bottom: 3rem;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 70vh;
  margin-bottom: 9.3rem;

  .hero__img {
    width: 100%;
  }
}

.arrivals {
  .arrivals__title {
    font-size: 2.25rem;
    font-family: "DM Serif Display", monospace;
    margin-bottom: 4.4rem;
    text-align: center;
  }

  .product__wrapper {
    @include gridBorder();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80vh auto;

    .product,
    .arrivals__category {
      @include gridBorderChild();
    }

    .product {
      display: grid;
      grid-template-rows: 80% auto;
      gap: 1.2rem;
      padding: 1.9rem;

      .product__photo {
        width: 100%;
        height: 100%;
      }
      .product__data {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        font-size: 0.75rem;
      }
    }

    .arrivals__category {
      grid-column: span 2;
      text-align: center;
      padding: 1.3rem 0;
      font-size: 1.25rem;
    }
  }
}

footer {
  height: 12.5rem;
  margin: 6.3rem 0;
  @include gridBorder();
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5fr 1fr;

  & > div {
    @include gridBorderChild();
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem;
    &:first-child {
      grid-column: span 2;
    }
  }

  .footer__bottom {
    grid-column: 1 / -1;
    flex-direction: row;
    padding: 0 1.2rem;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 1rem;
    }
    & > * {
      width: 33%;
      text-align: center;
    }
  }

  .footer__title {
    font-size: 1.25rem;
    font-family: "DM Serif Display", monospace;
  }

  .footer__signup {
    height: 2.5rem;
    @include gridBorder();
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    place-items: center center;

    & > * {
      @include gridBorderChild();
      padding: 0.6rem;
    }
    input {
      border: none;
    }
    span {
      text-align: center;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }

  .footer__items {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1.2rem;
  }

  .footer__item {
    font-size: 0.6rem;
  }
}
